html {
    font-size: 62.5%;

    @include respond(phone-land) {
        font-size: 68.75%;      //1rem = 11px
    }

    @include respond(tablet-port) {
        font-size: 75%;         //1rem = 12px
    }

    @include respond(tablet-land) {
        font-size: 81.25%;      //1rem = 13px
    }

    @include respond(desktop) {
        font-size: 87.5%;      //1rem = 14px
    }
}

.heading-primary {
    text-align: center;
    color: $color-grey-dark;
    text-transform: uppercase;
    padding: 2rem 0;
}