$color-white: #fff;
$color-black: #000;

$color-grey-light: #eeeeee;
$color-grey-medium-1: #aaaaaa;
$color-grey-medium-2: #777;
$color-grey-dark: #272b30;

$color-blue: #2aa0fe;
$color-green: #00a077;
