.btn {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;

  @include respond(phone-land) {
    font-size: 1.2rem;
  }

  @include respond(tablet-land) {
    font-size: 1rem;
  }

  & > i {
    color: $color-blue;
    font-size: 2rem;
  }

  &__solid {
    background-color: $color-blue;
    color: $color-white;
    text-align: center;
    display: inline-block;
    border-radius: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    transition: background-color 0.2s;

    &:hover {
      background-color: darken($color-blue, 10%);
    }
  }
}
