.card {
  color: $color-grey-medium-2;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1rem;
  background-color: $color-grey-light;
  border-radius: 1rem;

  @include respond(tablet-port) {
    gap: 0.6rem;
  }

  &__img {
    border-radius: 1rem;
    overflow: hidden;
    height: 19.6rem;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      vertical-align: middle;
    }
  }

  &__title {
    font-size: 1.3rem;
    font-weight: 700;
  }

  &__author {
    font-size: 1.1rem;
    font-weight: 500;
  }

  &__price {
    font-weight: 500;
    font-size: 1.4rem;
  }
}
