.item-count {
    width: 100%;
    background-color: $color-grey-light;
    padding: 1rem;
    border-radius: 1rem;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        color: $color-grey-dark;
        font-size: 1.6rem;
        border: 1px solid $color-blue;
        border-radius: 1rem;
        padding: .5rem;
    }
}